# ignore data
*.csv

# ignore notes
*.txt
*.md

# don't ignore the readme
!README.md

# ignore testing files
main.py
*test.py

# ignore directories
/unused/*
/digit_images/*
/.idea/*
/.ipynb_checkpoints
# MIT liquid code
/liquid_time_constant_networks/*

# ignore IDE files
*.iml
*.xml
